[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
djangorestframework = "*"
pillow = "*"
django-cors-headers = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
django-redis = "*"
scikit-learn = "==1.1.1"
numpy = "*"
pandas = "*"
opencv-python = "*"
webcolors = "*"
nltk = "*"
thefuzz = "*"
enchant = "*"
django-payments = "*"
scikit-surprise = "==1.0.5"

[dev-packages]

[requires]
python_version = "3.10"
