[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
django-redis = "*"
scikit-learn = "*"
pandas = "*"
better-profanity = "*"
pillow = "*"
requests = "*"
pyenchant = "*"
django = "==5.0"
nltk = "==3.8"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
